---
page_title: "{{ .Name }} {{ .Type }} - {{ .ProviderName }}"
subcategory: "Connections"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{ .Name }} ({{ .Type }})

{{ .Description | trimspace }}

For detailed configuration guidance, see the [Amazon Selling Partner connection guide](https://apidocs.polytomic.com/guides/configuring-your-connections/connections/amazon_selling_partner).

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
