---
page_title: "{{ .Name }} {{ .Type }} - {{ .ProviderName }}"
subcategory: "Connections"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{ .Name }} ({{ .Type }})

{{ .Description | trimspace }}

For detailed configuration guidance, see the [IBM Db2 connection guide](https://apidocs.polytomic.com/guides/configuring-your-connections/connections/ibm_db2).

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
