page_title: "Polytomic Provider"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# Polytomic Provider

The Polytomic provider is used to interact with the resources supported by Polytomic. The provider needs to be configured with the proper credentials before it can be used.

Use the navigation to the left to read about the available resources and datasources.

{{ .Description | trimspace }}

## Example Usage

### API Key 
```terraform
provider "polytomic" {
  api_key     = "<value from settings page>"
}
```

### Deployment API Key (On-Premises only)
```terraform
provider "polytomic" {
  deployment_url     = "polytomic.acmeinc.com"
  deployment_api_key = "<value from deployment environment>"
}
```

{{ .SchemaMarkdown | trimspace }}